@import "https://fonts.googleapis.com/css?family=Poppins";
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: #0a0a0a;
  color: #EFEDEF; }

a:link {
  text-decoration: none;
  color: #EFEDEF; }

a:visited {
  text-decoration: none;
  color: #EFEDEF; }

.header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0, rgba(10, 10, 10, 0.9)), color-stop(1, rgba(10, 10, 10, 0.4))); }

.header-content {
  width: 300px;
  line-height: 70px;
  display: flex;
  margin: 0 10px;
  padding: 10px;
  font-size: 1.25em; }
  .header-content div {
    margin: 0 10px; }

.menu-items {
  justify-content: flex-end; }

.site-name {
  font-size: 2em; }

.page-name {
  justify-content: center; }

.body {
  min-height: 100vh;
  background-image: url("https://s3-us-west-1.amazonaws.com/muffin-bucket-bucket-o-muffins/personal-project/pasta-cheese-egg-food.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center; }

.splash {
  padding: 20px 40px;
  border-radius: 5px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-image: -webkit-radial-gradient(center center, ellipse farthest-corner, #222022 62.4%, #222022 62.4%, rgba(34, 32, 34, 0.3) 100%); }

.logo {
  margin: 20px 10px;
  font-size: 2em;
  height: 240px;
  width: 300px;
  background-image: url("https://s3-us-west-1.amazonaws.com/muffin-bucket-bucket-o-muffins/personal-project/logo-dark");
  background-size: cover; }

.login {
  margin: auto; }
  .login button {
    color: #222022;
    background-color: #EFEDEF;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none; }

.auth0-lock-header {
  display: none; }

.uh-oh {
  padding: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25em; }
  .uh-oh a:link {
    text-decoration: underline; }

.home {
  min-height: 100vh;
  background-size: cover;
  background-image: url("https://s3-us-west-1.amazonaws.com/muffin-bucket-bucket-o-muffins/personal-project/pexels-photo-594060.jpeg"); }

.welcome {
  width: 300px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  font-size: 1.25em; }

.tile-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px 20px; }

.tile {
  margin: 10px;
  padding: 10px;
  height: 100px;
  width: 350px;
  font-size: 1.25em;
  text-transform: capitalize;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2); }

.recipe {
  margin: 20px auto;
  padding: 10px 20px;
  width: 80%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2); }

.icon-wrapper {
  display: flex; }

.icons {
  font-size: 1.5em; }

.back {
  margin: 15px 24px; }

.recipe-name {
  font-size: 2.5em;
  text-transform: capitalize; }

.ingredients {
  padding: 0;
  list-style: none; }

.top, .lower {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .top button, .lower button {
    width: 400px;
    background-color: #EFEDEF;
    border: none;
    padding: 10px 15px;
    margin: 10px;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none; }

.lower div {
  margin: auto;
  display: flex;
  flex-direction: column; }

.input-wrapper {
  display: flex;
  justify-content: center; }

.left, .right {
  width: 400px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.input {
  width: 400px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px; }

.category {
  width: 400px;
  margin: 7px;
  font-size: 16px; }

.big-input {
  height: 200px;
  resize: none; }

.notes {
  width: 820px; }

.page {
  min-height: 100vh;
  width: 100%;
  background-image: url("https://s3-us-west-1.amazonaws.com/muffin-bucket-bucket-o-muffins/personal-project/pexels-photo-301669.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top; }

.cat-select-page {
  min-height: 100vh;
  width: 100%;
  background-image: url("https://s3-us-west-1.amazonaws.com/muffin-bucket-bucket-o-muffins/personal-project/cheese.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center; }

.cat-page {
  min-height: 100vh;
  width: 100%;
  background-image: url("https://s3-us-west-1.amazonaws.com/muffin-bucket-bucket-o-muffins/personal-project/cheese.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center; }

.fav-page {
  min-height: 100vh;
  width: 100%;
  background-image: url("https://s3-us-west-1.amazonaws.com/muffin-bucket-bucket-o-muffins/personal-project/food-pot-kitchen-cooking.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center; }

@media (max-width: 885px) {
  .page-name {
    display: none; }
  .top, .lower {
    width: 90%; }
    .top button, .lower button {
      width: 95%; }
  .lower {
    width: 100%; }
    .lower div {
      width: 100%;
      margin: 7px; }
  .left, .right {
    width: 50%;
    margin: 5px; }
  .input {
    width: 95%;
    padding: 5px;
    margin: 5px; }
  .category {
    width: 95%; }
  .notes {
    width: 95%; } }

@media (max-width: 595px) {
  .header {
    background-color: #222022; }
  .header-content {
    font-size: .85em;
    line-height: 60px; }
    .header-content div {
      width: 50%;
      margin: 0; }
  .menu-items {
    width: 100%;
    text-align: right;
    margin: 0 5px; }
  .site-name {
    font-size: 1.25em; }
  .logo {
    height: 200px;
    width: 250px; }
  .login button {
    font-size: 18px; }
  .tile {
    font-size: 16px; }
  .welcome {
    font-size: 1em; }
  .tile-wrapper {
    margin: 20px; }
  .recipe-name {
    font-size: 2em; }
  .input-wrapper {
    flex-direction: column; }
  .left, .right {
    width: 100%;
    margin: 10px; } }
