@import "https://fonts.googleapis.com/css?family=Euphoria+Script|Poppins";

$login_background: 'https://s3-us-west-1.amazonaws.com/muffin-bucket-bucket-o-muffins/personal-project/pexels-photo-357743.jpeg';
$home_background: 'https://s3-us-west-1.amazonaws.com/muffin-bucket-bucket-o-muffins/personal-project/pexels-photo-594060.jpeg';
$recipe_background: 'https://s3-us-west-1.amazonaws.com/muffin-bucket-bucket-o-muffins/personal-project/pexels-photo-372882.jpeg';
$header_gradient: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgba(10, 10, 10, 0.9)),color-stop(1, rgba(10, 10, 10, 0.40)));
$transparent_background: rgba(255, 255, 255, 0.2);
$transparent_background_dark: rgba(31, 23, 23, 0.2);
$font_family_1: 'Poppins', sans-serif;
$text_color: white;
$white-color: #EFEDEF;
$black-color: #222022;
$background_color: #2c3e50;
$black_background: rgba(10,10,10, 1);
$main_font_size: 16px;
$logo_font-size: 2em;
$border_radius: 5px;

* {
	box-sizing: border-box;
}

body {
    margin: 0;
	padding: 0;
	font-family: $font_family_1;
	font-size: $main_font_size;
    background-color: $black_background;
    color: $white-color;
}

a {
	&:link {
        text-decoration: none;
        color: $white-color;
	}
	&:visited {
        text-decoration: none;
        color: $white-color;
	}
}

// Header 
.header {
	display: flex;
	justify-content: space-between;
    box-sizing: border-box;
    // background-color: $black-color;
    background-image: $header_gradient;
}

.header-content {
    width: 300px;
	line-height: 70px;
	display: flex;
    margin: 0 10px;
    padding: 10px;
    font-size: 1.25em;
	div {
        margin: 0 10px;
	}
}

.menu-items{
    justify-content: flex-end;
}

.site-name {
    font-size: $logo_font-size;
}

.page-name {
    justify-content: center;
}

// Login
.body {
    height: 100vh;
	background-image: url($login_background);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-color: $background_color;
	display: flex;
	align-items: center;
}

.splash {
	// width: 300px;
    // height: 200px;
    padding: 20px;
	border-radius: $border_radius;
	margin: auto;
	display: flex;
	flex-direction: column;
	color: $text_color;
	background-color: $transparent_background;
}

.logo {
    margin: 20px 10px;
    font-size: $logo_font-size;
}

.login {
    margin: auto;
    button {
        color: $white-color;
        background-color: $black-color;
        border: none;
        padding: 10px 15px;
        font-size: 20px;
        border-radius: $border_radius;
        text-decoration: none;
    }
}

// Home
.uh-oh {
	padding: 70px;
	margin: auto;
	display: flex;
	align-items: center;
    justify-content: center;
    font-size: 1.25em;
    a:link {
        text-decoration: underline;
    }
}

.home {
    height: 100vh;
    background-size: cover;
    background-image: url($home_background);
}

.welcome {
    width: 300px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    font-size: 1.25em;
}

.tile-wrapper {
	display: flex;
	flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
	margin: 20px;
}

.tile {
    margin: 10px;
    padding: 10px;
    height: 100px;
    width: 350px;
    font-size: 1.25em;
    text-transform: capitalize;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: $border_radius;
	background-color: $transparent_background;
}

// Recipe
.page{
    background-image: $recipe_background;
    background-size: cover;
}

.recipe {
    margin: 20px auto;
    padding: 10px 20px;
    width: 80%;
    border-radius: $border_radius;
    background-color: $transparent_background;
}

.icon-wrapper {
    display: flex;
}

.icons {
    font-size: 1.5em;
}

.back {
    margin: 15px 24px;
}

.recipe-name {
    // font-family: 'Euphoria Script', $font_family_1;
    // font-size: 3.25em;
    font-size: 2.5em;
    text-transform: capitalize;
}

.ingredients{
    padding: 0;
    list-style: none;
}

// NewRecipe & EditRecipe
.top, .lower {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    button {
        width: 400px;
        background-color: $white-color;
        border: none;
        padding: 10px 15px;
        margin: 10px;
        font-size: 18px;
        border-radius: $border_radius;
        text-decoration: none;
    }
}

.lower {
    div {
        margin: auto;
        display: flex;
        flex-direction: column;
    }
}
.input-wrapper {
    display: flex;
    justify-content: center;
}

.left, .right {
    width: 400px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input {
    width: 400px;
    padding: 5px;
    margin: 5px; 
    border-radius: $border_radius;
}

.category {
    width: 400px;
    margin: 7px;
    font-size: $main_font_size;
}

.big-input {
    height: 200px;
    resize: none;
}

.notes {
    width: 820px;
}

