@import "https://fonts.googleapis.com/css?family=Poppins";

$login_background: 'https://s3-us-west-1.amazonaws.com/muffin-bucket-bucket-o-muffins/personal-project/pasta-cheese-egg-food.jpg';
$home_background: 'https://s3-us-west-1.amazonaws.com/muffin-bucket-bucket-o-muffins/personal-project/pexels-photo-594060.jpeg';
$recipe_background: 'https://s3-us-west-1.amazonaws.com/muffin-bucket-bucket-o-muffins/personal-project/pexels-photo-301669.jpeg';
// $category_select_background: 'https://s3-us-west-1.amazonaws.com/muffin-bucket-bucket-o-muffins/personal-project/cookies-baked-goods-frisch-chocolate-94278.jpeg';
$category_background: 'https://s3-us-west-1.amazonaws.com/muffin-bucket-bucket-o-muffins/personal-project/cheese.jpeg';
$favorites_background: 'https://s3-us-west-1.amazonaws.com/muffin-bucket-bucket-o-muffins/personal-project/food-pot-kitchen-cooking.jpg';
$logo: 'https://s3-us-west-1.amazonaws.com/muffin-bucket-bucket-o-muffins/personal-project/logo-dark';
$header_gradient: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgba(10, 10, 10, 0.9)),color-stop(1, rgba(10, 10, 10, 0.40)));
$splash_gradient: -webkit-radial-gradient(center center, ellipse farthest-corner,rgb(34, 32, 34) 62.4%,rgb(34, 32, 34) 62.4%,rgba(34, 32, 34, 0.30) 100%);
$transparent_background: rgba(255, 255, 255, 0.2);
// $transparent_background_dark: rgba(34, 32, 34, 0.2);
$font_family_1: 'Poppins', sans-serif;
$white-color: #EFEDEF;
$black-color: #222022;
$black_background: rgba(10,10,10, 1);
$main_font_size: 16px;
$logo_font-size: 2em;
$border_radius: 5px;

* {
	box-sizing: border-box;
}

body {
    margin: 0;
	padding: 0;
	font-family: $font_family_1;
	font-size: $main_font_size;
    background-color: $black_background;
    color: $white-color;
}

a {
	&:link {
        text-decoration: none;
        color: $white-color;
	}
	&:visited {
        text-decoration: none;
        color: $white-color;
	}
}

// Header 
.header {
	display: flex;
	justify-content: space-between;
    box-sizing: border-box;
    background-image: $header_gradient;
}

.header-content {
    width: 300px;
	line-height: 70px;
	display: flex;
    margin: 0 10px;
    padding: 10px;
    font-size: 1.25em;
	div {
        margin: 0 10px;
	}
}

.menu-items{
    justify-content: flex-end;
}

.site-name {
    font-size: $logo_font-size;
}

.page-name {
    justify-content: center;
}

// Login
.body {
    min-height: 100vh;
	background-image: url($login_background);
	background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
	display: flex;
	align-items: center;
}

.splash {
    padding: 20px 40px;
	border-radius: $border_radius;
	margin: auto;
	display: flex;
	flex-direction: column;
	background-image: $splash_gradient;
}

.logo {
    margin: 20px 10px;
    font-size: $logo_font-size;
    height: 240px;
    width: 300px;
    background-image: url($logo);
    background-size: cover;
}

.login {
    margin: auto;
    button {
        color: $black-color;
        background-color: $white-color;
        border: none;
        padding: 10px 15px;
        font-size: 20px;
        border-radius: $border_radius;
        text-decoration: none;
    }
}

.auth0-lock-header{
    display: none;
  }

// Home
.uh-oh {
	padding: 70px;
	margin: auto;
	display: flex;
	align-items: center;
    justify-content: center;
    font-size: 1.25em;
    a:link {
        text-decoration: underline;
    }
}

.home {
    min-height: 100vh;
    background-size: cover;
    background-image: url($home_background);
}

.welcome {
    width: 300px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    font-size: 1.25em;
}

.tile-wrapper {
	display: flex;
	flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
	margin: 30px 20px;
}

.tile {
    margin: 10px;
    padding: 10px;
    height: 100px;
    width: 350px;
    font-size: 1.25em;
    text-transform: capitalize;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: $border_radius;
	background-color: $transparent_background;
}

// Recipe
.recipe {
    margin: 20px auto;
    padding: 10px 20px;
    width: 80%;
    border-radius: $border_radius;
    background-color: $transparent_background;
}

.icon-wrapper {
    display: flex;
}

.icons {
    font-size: 1.5em;
}

.back {
    margin: 15px 24px;
}

.recipe-name {
    font-size: 2.5em;
    text-transform: capitalize;
}

.ingredients{
    padding: 0;
    list-style: none;
}

// NewRecipe & EditRecipe
.top, .lower {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    button {
        width: 400px;
        background-color: $white-color;
        border: none;
        padding: 10px 15px;
        margin: 10px;
        font-size: 18px;
        border-radius: $border_radius;
        text-decoration: none;
    }
}

.lower {
    div {
        margin: auto;
        display: flex;
        flex-direction: column;
    }
}
.input-wrapper {
    display: flex;
    justify-content: center;
}

.left, .right {
    width: 400px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input {
    width: 400px;
    padding: 5px;
    margin: 5px; 
    border-radius: $border_radius;
}

.category {
    width: 400px;
    margin: 7px;
    font-size: $main_font_size;
}

.big-input {
    height: 200px;
    resize: none;
}

.notes {
    width: 820px;
}

// AllRecipes
.page{
    min-height: 100vh;
    width: 100%;
    background-image: url($recipe_background);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;
}

// CategorySelect
.cat-select-page{
    min-height: 100vh;
    width: 100%;
    background-image: url($category_background);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

// Category
.cat-page{
    min-height: 100vh;
    width: 100%;
    background-image: url($category_background);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

// Favorites 
.fav-page {
    min-height: 100vh;
    width: 100%;
    background-image: url($favorites_background);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

// media queries 
@media(max-width: 885px){
// Header 
.page-name {
    display: none;
}
// NewRecipe & EditRecipe
.top, .lower {
    width: 90%;
    button {
        width: 95%;
    }
}

.lower {
    width: 100%;
    div {
        width: 100%;
        margin: 7px;
    }
}

.left, .right {
    width: 50%;
    margin: 5px;
}

.input {
    width: 95%;
    padding: 5px;
    margin: 5px; 
}

.category {
    width: 95%;
}

.notes {
    width: 95%;
}
}

@media(max-width: 595px){
// Header 
.header {
    background-color: $black-color;
}

.header-content {
    font-size: .85em;
	line-height: 60px;    
	div {
        width: 50%;
        margin: 0;
	}
}

.menu-items{
    width: 100%;
    text-align: right;
    margin: 0 5px;
}

.site-name {
    font-size: 1.25em;
}

// Login
.logo {
    height: 200px;
    width: 250px;
}

.login {
    button {
        font-size: 18px;
    }
}
// misc
.tile {
    font-size: $main_font_size;
}

.welcome {
    font-size: 1em;
}

.tile-wrapper {
	margin: 20px;
}
.recipe-name {
    font-size: 2em;
}
// NewRecipe & EditRecipe
.input-wrapper {
    flex-direction: column;
}

.left, .right {
    width: 100%;
    margin: 10px;
}
}
 